/*---Navigation Whole---*/

#topnav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 200;
}


.header { 
  background: #000;
  padding:40px 0; 
}

@media (min-width: 750px) {
  .header { 
    padding:40px 0 80px 0; 
  }
}

/*---Nav List Items---*/
.navbar {
  float: none;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

@media (min-width: 1100px) {
.navbar { 
  max-height:150px;
  overflow: hidden;
  width: 100%;
  /*background:none;
  display: inline-block;
  float: none;
  text-align: center;*/
 }
}

.nav_header {
  padding: 0;
  list-style-type: none;
  height: 100%;
}
.nav_header li {
  display: inline-block;
}

.nav_header > li {
  display: inline-block;
}

.nav_header > li a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 1100px) {
  .nav_header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*---TEMP MOBILE NAV---*/

#menu, .sub-menu {
  display: none;
  list-style: none;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: relative;
  background: transparent;
  cursor: pointer;
}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  /*-webkit-transition:all .2s;
   -moz-transition:all .2s;
     -o-transition:all .2s;
        transition:all .2s;*/
}
.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i {  }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
  top: 40%;
  -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
        transform:rotate(45deg);
} 
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
  top: 40%;
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}

/*---Nav Mobile---*/

.burger-lines {
    display: inline-block;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;*/
    width: 25px;
    height: 25px;
    /*background-color: #fff;*/
    position: relative;
    top: 30px;
    padding-right: 5%;
}

@media (min-width: 550px) {
  .burger-lines {
    top: 50px;
  }
}

@media (max-width: 550px) {
  .burger-lines {
    padding-right: 10%;
    top: 45px;
  }
}

@media (min-width: 750px) {
  .burger-lines {
    top: 40px;
  }
}

/*.burger-lines:before, .burger-lines:after {
    content: '';
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: top 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1), transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 300ms 300ms cubic-bezier(0.165, 0.84, 0.44, 1), transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1), background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.burger-lines:before {
    top: 8px; }

.burger-lines:after {
    top: -8px; }*/


@media (max-width: 1100px) {
  .expand {
    display:block;
    max-height: 100vh;
    max-height: 100vh;
    width:112%;
    margin-left: -6%;
    transition: all 0.6s ease;
    width: 100%;
  }
  .expand .nav_header {
    height: 100vh;
  }
}

@media (max-width: 1100px) {
   header.small .navbar.expand,
   header.large .navbar.expand {
   height: 100vh;
   background-color: #000;
   margin-top: -80px;
  }
  header.small .navbar.expand ul.nav_header li,
  header.large .navbar.expand ul.nav_header li {
  margin-top: 0px;
  }
}

@media (min-width: 1100px) {
  .burger-lines {
    display: none; }

  .nav_header {
    display: inline-block;
    list-style: none;
    float: none;
    margin: auto; 
    width: 100%;
  }

  .nav_header > li { 
    float: none;
    display: inline-block;
    /*padding:37px 20px 20px 20px;*/
    padding: 20px;
    width: 10%;
  }

  .nav_header > li a { 
    color:#fff;
    text-decoration:none;
    font-family: 'Poppins', serif;
    /*transition: all 0.2s ease;*/
    /*font-weight: 800;*/ }

  .nav_header > li a:hover { 
      color: #03bfd2; 
  }
}

.nav_header--external { 
    color:#fff;
    text-decoration:none;
    font-family:'Source Serif Pro', serif;
    font-weight: 800; 
}

.nav_header--external:hover { 
  color:#fff;
  opacity: 0.8;
}
