<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="https://drsaeva.github.io/css/main.css">
</head>
<body>
	<script src="https://drsaeva.github.io/js/sidenav.js"></script>
	<!-- sidenav code -->
	<div class="sidenav" id="mySidenav" >
  		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="https://drsaeva.github.io">home</a>
		<a href="https://drsaeva.github.io/about">about</a>
		<a href="https://drsaeva.github.io/cv">cv</a>
		<a href="https://drsaeva.github.io/blog">blog</a>
	</div>
	<div id="main">
	<div class="topnav" id="myTopnav" >
		<a onclick="openNav()">☰</a>
	</div>
	
	<!-- main content -->
  	<div class="container">
		{{ content }}	
	</div>
			
	<footer>
	    <ul>
	    <li><a href="mailto:drsaeva@gmail.com">email</a></li>
	    <li><a href="https://github.com/drsaeva">github.com/drsaeva</a></li>
	    </ul>
	</footer>
	<//div>
</body>
</html>
