<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>David R Saeva</title>
  <meta name="" content="">
  <meta name="David R Saeva" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="https://drsaeva.github.io/css/temp.css">
  <link rel="stylesheet" href="https://drsaeva.github.io/css/normalize.css">
  <link rel="stylesheet" href="https://drsaeva.github.io/css/skeleton.css">
  <link rel="stylesheet" href="https://drsaeva.github.io/css/hex.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
  <!-- SCRIPTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Google jQuery API -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Scroll to -->
  <script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
  <!-- LinkedIn -->
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>

</head>
<body>

  <!-- Top Navigation Bar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header id="topnav">
    <div class="container-header">
      <nav class="navbar">
        <ul class="nav_header">
          <li><a href="#">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#projects">projects</a></li>
          <li><a href="#latestpost">latest post</a></li>
          <li><a href="#contact">contact</a></i>
        </ul>
      </nav>
    </div>
  </header>
  
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Landing Image -->
  <section id="landing">
    <div class="container-landing">
      <div class="landing bg_img">
        <div class="landing-text">david r. saeva<br>developer</div>
      </div>
    </div>
  </section>
  
  <!-- Intro -->
  <section id="about" class="section">
    <div class="container">
      <div class="section-heading">
        <h1>about me</h1>
      </div>
      <div class="four columns" style="margin-top: 15%; margin-bottom: 15%;">
        <img src="/img/selfie.jpg">
      </div>
      <div class="seven columns" style="margin-top: 15%; margin-bottom: 15%;">
        <h4>
          <ul>
            <li style="font-weight: bold;">A recipe for David:</li>
            <li>Mix small town Americana with a helping of urban bustle</li>
            <li>Add a love for the outdoors, music, and all things data</li>
            <li>Sprinkle in a little (ok, not so) bit of curiosity</li>
            <li>Top it with a dusting of cheesy jokes</li>
          </ul>
        </h4>
      </div>
      <div class="about twelve columns" style="margin-bottom: 25%">
        <h4>Feel free to take a look at my <a href="/resume.pdf">resume</a> or visit me at LinkedIn <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/david-r-saeva-99aa5828" data-format="hover" data-related="false"></script>
 if you're so inclined.</h4>
      </div>
    </div>
  </section>
    
  <!-- Blog section -->
  <section id="latestpost" class="section">
    <div class="container">
      {{ content }}
    </div>
  </section>
  
  <!-- Projects section-->
  <section id="projects" class="section">
    <div class="container">
      <div class="section-heading"><h1>projects</h1></div>
      <div>
	<h4>Here are some of the <a class="w-bg-link" href="https://github.com/drsaeva">projects</a> I've worked on.</h4>
      	<ul id="hexGrid">
	<li class="hex">
	  <a class="hexIn" id="wep" href="https://github.com/autochthonia/jacint/tree/develop">
	    <img src="https://images.squarespace-cdn.com/content/5a48463bace86433f0ecda0e/1514689096868-88DPDIM3C7HVU58Z4BCF/Exalted_World_Map_detail2.jpg?content-type=image%2Fjpeg" alt="" />
	    <h1>Jacint</h1>
	    <p>Fantasy-world cartography application in Next.js and TypeScript</p>
	  </a>
	</li>
	<li class="hex">
	  <a class="hexIn" id="wep" href="https://github.com/autochthonia/plentimon-hand">
	    <img src="https://d2r55xnwy6nx47.cloudfront.net/uploads/2020/07/Dice_2880x1620_Lede.jpg" alt="" />
	    <h1>Plentimon</h1>
	    <p>Dicebot in Node.js and TypeScript</p>
	  </a>
	</li>     
	<li class="hex">
	  <a class="hexIn" id="labBot" href="https://github.com/drsaeva/labBot">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Tobias-AIDS-test.jpg" alt="" />
	    <h1>labBot</h1>
	    <p>OCR and frontend-automation in Java for handling patient medical lab data</p>
	  </a>
	</li>
	<li class="hex">
	  <a class="hexIn" id="agga" href="https://github.com/drsaeva/JHU-Course-Code/tree/master/BFX/AGGA">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PLoSBiol3.5.Fig7ChromosomesAluFish.jpg" alt="" />
	    <h1>AGGA</h1>
	    <p>Genomics tool pipelines with bash and analytics with R</p>
	  </a>
	</li>
	<li class="hex">
	  <a class="hexIn" id="wep" href="https://github.com/drsaeva/JHU-Course-Code/tree/master/WEP">
	    <img src="https://upload.wikimedia.org/wikipedia/commons/d/da/Binary_search_tree.svg" alt="" />
	    <h1>WEP</h1>
	    <p>Java and Python implementations of common topics in comp sci <br>(eg. sorting, trees)</p>
	  </a>
	</li>
	<li class="hex">
	  <a class="hexIn" id ="midterm" href="https://github.com/drsaeva/JHU-Course-Code/tree/master/BFX/APCCfBfx/midterm">
	    <img src="/img/ecoli-1184px.jpg" alt="" />
	    <h1>midterm</h1>
	    <p>Bacteria gene search engine with autocomplete functionality</p>
	  </a>
	</li>
	</ul>
      </div>
    </div>
  </section>
	
  <!-- Contact -->
    <section id="contact">
      <div class="container-landing">
        <div class="ending bg_img">
          <div class="ending-text" id="ending">
            <h4>I want to help you<br>reach the summit.</h4>
            <h4><a href="mailto:drsaeva@gmail.com">Get in touch and<br>share your goals with me.</a></h4>
          </div>
        </div> 
      </div>
    </section>
                                                      
<!-- Navigation bar JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script type="text/javascript">
// Toggle mobile menu
$(document).ready(function(){
  $('#menu-icon').on('click', function(){
    $('.navbar').toggleClass('expand');
    $('#navigation').toggleClass('container-header');
  });
  $('.header__navigation > li a').on('click', function(){
    $('.navbar').toggleClass('expand');
    return false;
  });
// Scroll to JS
  $(".nav_header a").click(function(){
    // e.preventDefault();
    $('html,body').scrollTo(this.hash,this.hash);
  });
});
// Reduce size of header on scroll
$(document).on("scroll", function() {
	if($(document).scrollTop()>100) {
		$("header").removeClass("large").addClass("small");
	} else {
		$("header").removeClass("small").addClass("large");
	}
	
});
</script>
			
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
