<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>David R Saeva</title>
  <meta name="" content="">
  <meta name="David R Saeva" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="https://drsaeva.github.io/css/temp.css">
  <link rel="stylesheet" href="https://drsaeva.github.io/css/normalize.css">
  <link rel="stylesheet" href="https://drsaeva.github.io/css/skeleton.css">
  <link rel="stylesheet" href="https://drsaeva.github.io/css/hex.css">

  <!-- SCRIPTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Google jQuery API -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Scroll to -->
  <script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

</head>
<body>

  <!-- Top Navigation Bar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header id="topnav">
    <div class="container-header">
      <nav class="navbar">
        <ul class="nav_header">
          <li><a href="#">home</a></li>
          <li><a href="#about">about</a></li>
          <li><a href="#latestpost">latest post</a></li>
          <li><a href="#projects">projects</a></li>
          <li><a href="#contact">contact</a></i>
        </ul>
      </nav>
    </div>
  </header>
  
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Landing Image -->
  <section id="landing">
    <div class="container-landing">
      <div class="landing bg_img">
        <div class="landing-text">david r. saeva<br>developer</div>
      </div>
    </div>
  </section>
  
  <!-- Intro -->
  <section id="about" class="section">
    <div class="container">
      <div class="four columns" style="margin-top: 25%">
        <img src="/img/selfie.jpg">
      </div>
      <div class="eight columns" style="margin-top: 25%">
        <h4>
          <ul>
            <li>Mix small town Americana with a helping of urban bustle</li>
            <li>A love for the outdoors, music, and all things data</li>
            <li>A little (ok, not so) bit of curiosity</li>
            <li>Top it with a dusting of cheesy jokes</li>
          </ul>
        </h4>
      </div>
    </div>
  </section>
  
  <!-- Blog section -->
  <section id="latestpost" class="section">
    <div class="container">
      {{ content }}
    </div>
  </section>
   
  <!-- Projects section-->
  <section id="projects" class="section">
    <div class="container">
      <h2>projects</h2>
      <ul id="hexGrid">
        <li class="hex">
          <a class="hexIn" id="utr" href="https://github.com/drsaeva/utr-analysis">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Diffuse_large_B_cell_lymphoma_-_cytology_low_mag.jpg/1920px-Diffuse_large_B_cell_lymphoma_-_cytology_low_mag.jpg" alt="" />
            <h1>utr-analysis</h1>
            <p>Perl scripts with SQL integration for gene sequence analysis</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" id="labBot" href="https://github.com/drsaeva/labBot">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Tobias-AIDS-test.jpg" alt="" />
            <h1>labBot</h1>
            <p>OCR and frontend-automation in Java for handling patient medical lab data</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" id="agga" href="https://github.com/drsaeva/JHU-Course-Code/tree/master/BFX/AGGA">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/PLoSBiol3.5.Fig7ChromosomesAluFish.jpg" alt="" />
            <h1>AGGA</h1>
            <p>Genomics tool pipelines with bash and analytics with R</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" id="gedav" href="https://github.com/drsaeva/JHU-Course-Code/tree/master/BFX/GEDAV">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/DNA_microarray.svg" alt="" />
            <h1>GEDAV</h1>
            <p>R-driven statistical analyses of gene expression data</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" id="wep" href="https://github.com/drsaeva/JHU-Course-Code/tree/master/WEP">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/da/Binary_search_tree.svg" alt="" />
            <h1>WEP</h1>
            <p>Java and Python implementations of common topics in comp sci <br>(eg. sorting, trees)</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" id ="midterm" href="https://github.com/drsaeva/JHU-Course-Code/tree/master/BFX/APCCfBfx/midterm">
            <img src="/img/ecoli-1184px.jpg" alt="" />
            <h1>midterm</h1>
            <p>Bacteria gene search engine with autocomplete functionality</p>
          </a>
        </li>
      </div>
    </section>
    
  <!-- Contact -->
    <section id="contact">
      <div class="container-landing">
        <div class="ending bg_img">
          <div class="ending-text" id="ending">
            <h4>I want to help you<br>reach the summit.</h4>
            <h4><a href="drsaeva@gmail.com">Reach out and<br>share your goals with me.</a></h4>
            <i class="material-icons" href="drsaeva@gmail.com">mail_outline</i>
          </div>
        </div> 
      </div>
    </section>
                                                      
<!-- Navigation bar JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script type="text/javascript">
// Toggle mobile menu
$(document).ready(function(){
  $('#menu-icon').on('click', function(){
    $('.navbar').toggleClass('expand');
    $('#navigation').toggleClass('container-header');
  });
  $('.header__navigation > li a').on('click', function(){
    $('.navbar').toggleClass('expand');
    return false;
  });
// Scroll to JS
  $(".header__navigation a").click(function(){
    // e.preventDefault();
    $('html,body').scrollTo(this.hash,this.hash);
  });
});
// Reduce size of header on scroll
$(document).on("scroll", function() {
	if($(document).scrollTop()>100) {
		$("header").removeClass("large").addClass("small");
	} else {
		$("header").removeClass("small").addClass("large");
	}
	
});
</script>
			
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
